@model SistemaProyectos.Models.Usuario

@{
    ViewData["Title"] = "Editar un usuario";
}

@section Styles {
    <style>
        body {
            background-color: #E6E6FA;
        }
    </style>
}

<h1>@ViewData["Title"]</h1>


<hr />
<h4 class="text-center">Información del usuario</h4>
<div class="row" style="display:block; justify-self: center;">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioID" />
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="NombreUsuario" class="control-label"></label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Contrasena" class="control-label"></label>
                    <input asp-for="Contrasena" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <label asp-for="Rol" class="control-label"></label>
                    <select asp-for="Rol" class="form-select">
                        <option value="">Selecciona un rol</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="FechaRegistro" hidden class="control-label"></label>
                <input asp-for="FechaRegistro" hidden class="form-control" />
                <span asp-validation-for="FechaRegistro" hidden class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp; Guardar
                </button>
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-dark" asp-action="Index">
        <i class="fa-solid fa-backward"></i>&nbsp; Regresar
    </a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}