@model string

<form method="get" class="d-flex">
    <div class="col-9">
        <input class="form-control"
               style="background-color: #B399E6; color: white;"
               type="text"
               name="busqueda"
               value="@ViewBag.Busqueda"
               placeholder="Buscar..." />
    </div>
    <div class="col-3">
        <button class="btn" type="submit" style="background-color: #9370DB;">
            Buscar
        </button>
    </div>
</form>


    